{% extends "base.html" %}
{% block content %}
<h2>Профіль: {{ username }}</h2>
<p>ELO: {{ elo }}</p>

<hr>
<h4>Мої друзі</h4>
{% if friends %}
<ul class="list-group mb-3">
    {% for f in friends %}
    <li class="list-group-item">{{ f }}</li>
    {% endfor %}
</ul>
{% else %}
<p>У вас поки що немає друзів.</p>
{% endif %}

<hr>
<h4>Мої команди</h4>
{% if teams %}
<div class="row">
    {% for t in teams %}
    <div class="col-md-4">
        <div class="team-card">
            <h5>{{ t[1] }}</h5>
            <a href="/team/{{ t[0] }}" class="btn btn-sm btn-main">Перейти</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Ви ще не створили жодної команди.</p>
{% endif %}
{% endblock %}
